@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
body{
    font-family: 'Kdam Thmor Pro', sans-serif;
    margin: 0;
    background-color: cyan;
}
.container{
    width: 80%;
    height: 520px;
   background-color: indianred;
   position: fixed;
   margin-top: 3.5%;
   margin-left: 10%;
}
.form-parent{
    border-radius: 10px;
    background-color: whitesmoke;
    height: 450px;
    width: 320px;
    margin-left: 30%;
    margin-top: 3%;
    position: fixed;
}

h1{
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}
#forgot{
    margin-left: 20px;
    color: rgb(240, 23, 23);
}
#remember{
    text-align: center;
}
.submit{
    font-size: 18px;
    padding: 6px;
    border-radius: 8px;
    text-align: center;
    background-color: indianred;
    color: whitesmoke;
    height: 30px;
    width: 260px;
    margin-left: 20px;
    display: inline-block;
}
a{
    text-decoration: none;
}
.login{
    display: inline-block;
    background-color: rgb(194, 65, 65);
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 85px;
    border-radius: 8px;
    color: azure;
}
.signup{
    display: inline-block;
    background-color: rgb(241, 216, 216);
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
}
input{
    /* border-image: linear-gradient(tomato red); */
   
    border: 1px solid gray;
    padding: 6px;
    margin-top: 15px;
    margin-left: 20px;
    border-radius: 8px;
    /* border: none; */
    height: 30px;
    width: 260px;

}